.display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  text-align: center;
  width: 100%;
  margin: 5px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: black solid 2px;
  text-align: center;
  width: 18%;
  height: 300px;
  margin: 5px;
}

img{
  width: 100%;
  height: 75%;
}

.para{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 20%;
  margin: 5px;
}

p{
  width: 100%;
  height: auto;
  margin: 0;
}

button{
  width: 30%;
  height: 20%;
  margin: 5px;
}