body {
  background-color: rgb(221, 255, 188);
  margin: 0;
}

.display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  text-align: start;
  color: rgb(145, 199, 136);
  font-size: 75px;
  width: 100%;
  height: 125px;
  background-color: rgb(254, 255, 222);
  margin: 0;
  margin-bottom: 20px;
}

.nav {
  background-color: rgb(254, 255, 222);
  display: flex;
  margin: 0;
}

.choice:link, .choice:visited {
  text-decoration: none;
  color: rgb(137, 181, 175);
}

.choice:hover, .choice:active {
  color: whitesmoke;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: none; 
  box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.5);
  /* border: black solid 2px; */
  text-align: center;
  width: 18%;
  height: 300px;
  margin: 5px;
  border-radius: 2%;
}

.card:hover {
  transform: scale(1.025);
}

img{
  width: 100%;
  height: 75%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.para{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 20%;
  margin: 5px;
}

p{
  width: 100%;
  height: auto;
  margin: 0;
}

button{
  width: 40%;
  height: 10%;
  margin: 5px;
  border: none;
  background-color: rgb(221, 255, 188);
}

button:hover, button:focus {
  background-color: rgb(254, 255, 222);
  border-radius: 5%;
}